/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* background-color */


.about_author {
  background-color: #f5f8fc;
}

.enhance {
  background-color: #f5f8fc;
}

.get_book {
  background-color: #1b3764;
}

.book_img {
  background-color: #1b3764;
}

.review_box {
  background-color: #1b3764;
}

.page_footer {
  background-color: #1b3764;
}

.page_container {
  min-width: 1400px;
  margin: 0 auto;
}

/* header style start */
.page_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px 70px;
  background-color: #1b3764;
}

.logo {
  text-decoration: none;
  margin-right: 40px;
}

.header_social {
  max-width: 165px;
  margin: 0;
  padding: 0;
  margin-right: 260px;
}

.header_social_list {
  display: grid;
  grid-template-columns: repeat(3, 45px);
  gap: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.header_social_item {
  width: 45px;
  height: 45px;
}

.order_button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffca42;
  text-decoration: none;
  color: #1b3764;
  border-radius: 3px;
}

.social_link {
  display: block;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
}

.navigation_link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
}

.navigation_list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-right: 40px;
}

.order_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.order {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #1b3764;
}

/* welcome style */
.about_book {
  background-color: #1b3764;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.25fr 0.25fr;
  padding-left: 70px;
  padding-top: 100px;
  padding-bottom: 250px;
}

.main_image {
  grid-column: 2/3;
  grid-row: 1/4;
}

.main_text {
  padding-top: 147px;
  max-width: 580px;
  position: relative;
}

.welcome {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #ffffff;
  padding-left: 50px;
  margin-bottom: 15px;
}

.main_text:before {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background-color: #ffca42;
  position: absolute;
  top: 165px;
}

.your_book {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  margin-bottom: 24px;
}

.about_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #B4C7E7;
  margin-bottom: 30px;
}

.main_order {
  display: flex;
  flex-wrap: wrap;
  max-height: 66px;
  gap: 50px;
  align-items: center;
  margin-bottom: 40px;
}

.main_about_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  padding-left: 20px;
}

.main_about_list dt::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffca42;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  left: -26px;
}

.main_about_list dt {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  grid-row: 1/2;
  position: relative;
}

.main_about_list dd {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #B4C7E7;
}

.demo {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

/* authors style start */
.author_book {
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 270px auto;
  margin-bottom: 150px;
}

.author_book h3 {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  text-align: center;
  padding-top: 126px;
  margin-bottom: 126px;
  grid-column: 1/5;
  grid-row: 1/2;
}

.description_book {
  padding-top: 38px;
}

.description_book h4 {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #1b3764;
  margin-bottom: 18px;
}

.price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #ffca42;
}

.price::before {
  content: "$ ";
}

.price::after {
  content: " USD";
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #969aa0;
  max-width: 290px;
  padding-top: 18px;
  margin-bottom: 15px;
}

.print {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #1b3764;
  position: relative;
  padding-left: 25px;
  margin-bottom: 30px;
}

.print::before {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffca42;
  border-radius: 100%;
  left: 0px;
  top: 6px;
}

.order_now {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  display: inline-block;
  padding: 20px 50px;
  text-decoration: none;
  color: #1b3764;
  border-radius: 3px;
  border: 2px solid #ffca42;
}

/* social icon start */
.header_social_fb {
  background-image: url(/img/logo_facebook.svg);
}

.header_social_tw {
  background-image: url(/img/logo_twitter.svg);
}

.header_social_in {
  background-image: url(/img/logo_in.svg);
}

.footer_social_fb {
  background-image: url(/img/footer_social_fb.svg);
}

.footer_social_tw {
  background-image: url(/img/footer_social_tw.svg);
}

.footer_social_in {
  background-image: url(/img/footer_social_in.svg);
}

.footer_social_inst {
  background-image: url(/img/footer_social_inst.svg);
}

/* social icon end */

/* rate circle start */
.circle {
  --circle-active: #ffca42;
  --circle-inactive: none;
  fill: var(--circle-inactive);
}

.circle.active {
  fill: var(--circle-active);
}

.circle_blue {
  --circle-active: #ffca42;
  --circle-inactive: none;
  fill: var(--circle-inactive);
}

.circle_blue.active {
  fill: var(--circle-active);
}

/* rate circle end */